html, body {box-sizing: border-box;}
body {
    background: rgb(183,125,40);
    background: linear-gradient(90deg, rgba(183,125,40,1) 0%, rgba(242,163,28,1) 35%, rgba(249,214,62,1) 100%);
}
.form-centered {margin: 150px auto;}
.login-form, .registration-form {
    background: #fff;
    padding: 2.5rem 2rem 5rem 2rem;
    border-radius: 10px;
}
.ob-logo, .center {text-align: center;}
.ob-logo img {margin-bottom: 2rem;}
.button-group {margin-top: 2rem; text-align: center;}